<!doctype html>
<html>
<head>
<title>View Comments with Polling</title>
</head>
<body>

<div id="form">
	<form id="your-comment">
		<input id="text" type="text" name="text">
		<input id="submit" type="submit" value="Submit">
	</form>
</div>
<div id="comments"></div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
// Submit form
$("#submit").on("click", function(){
	$.post("http://localhost:5000/submit", { text : $("#text").val() }, function(){
		$.get("http://localhost:5000/comments", generateList);
	});
});


// Generate list of comments

function generateList(data) {
	// order data from oldest to newest 

	var orderedComments = {};
	Object.keys(data).sort().forEach(function(key) {
		orderedComments[key] = data[key];
	});

	for (comment in orderedComments) {
		text = orderedComments[comment];
		$("#comments").prepend("<div id='"+comment+"'>"+text+"</div>");
	}
}

// Get and store current data

var currentData;
var currentDataKeys;

function setCurrentData(data) {
	currentData = data;
	currentDataKeys = Object.keys(currentData).sort();
	$("#comments").empty();
	generateList(currentData);

}

$.get("http://localhost:5000/comments", setCurrentData);

// Get data again at 3-second intervals
// code modified from techoctave.com article: goo.gl/MhuUwp

(function poll(){
  // Only poll if browser window is active.
  // if (document.hasFocus()) {
	setTimeout(function(){
	  // AJAX request 
	  $.get("http://localhost:5000/comments", function(data){

		  newDataKeys = Object.keys(data).sort();

		  if (newDataKeys.join() != currentDataKeys.join()) {
				setCurrentData(data);
				console.log("Change");
		  }

		  console.log("No change");
	      poll();

	  });
	}, 3000);
  // }
})();


</script>
</body>
</html>